__pycache__
.idea
.DS_Store
*.egg-info
build

.venv

# data
data
checkpoints
out
!data/shakespeare/prepare.py
wandb
.cache
datasets

# openspec skills
.agent
.claude
.codex
.gemini
.github
.opencode

# downloaded by our tests
original_model.py
original_adapter.py